.hero__main {
  background: url(../img/showcase.jpg) no-repeat 20% center/cover;
  color: #ffffff;
  position: relative;
  height: 50vh;

  &--info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
  }

  &--text {
    line-height: 1.2;
    margin-bottom: 1em;
  }
}

.skills {
  img {
    width: 10em;
    margin-bottom: 1.5em;
  }

  .skills__logo--type {
    margin-bottom: 1em;
  }

  .skills__logo--text {
    margin-bottom: 3em;
  }
}
